@import "../styles/variables.scss";

.route-page-container {
  display: flex;
  flex-direction: column;
  .navbar {
    width: 100%;
  }
  .route-container {
    width: 100%;
    flex: 1;
    padding-left: 1.5rem;
    padding-top: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
  }
}
